#{extends 'main.html' /}
#{set title:'Wolf Memory Management Simulation' /}

<script type="text/javascript"> 
	// Wait for the DOM to be loaded 
	$(document).ready(function() {
		$('#submit_file').ajaxForm({
			target: '#process_table_container',
			resetForm: true,
			success: showResponse
		}); 
		
		$('#next_action').ajaxForm({
			target: '#process_table_container',
			resetForm: true,
			success: showResponse
		}); 
	}); 
	
	/*function goNext() {
		$('#process_table_container').ajax({
			  url: "@{ProcessController.nextAction()}",
			  context: document.body,
			  success: function(){
			   	 alert('All done nigga');
			  }
		});
	}*/
	
	function goNext() {
		 $("#process_table_container")  
	       // .html("Loading...")  
	        .load("@{ProcessController.nextAction()}", null, function(responseText){  
	           // alert("Response:\n" + responseText);  
	        });  
	}
	
	function showResponse(responseText, statusText, xhr, $form)  { 	 
	    // statusText
	    // responseText
	    // fade in the div with fancy jquery
	} 
</script> 

<div id="container">
	<div id="header">
		<h2>Linux Memory Management Simulation</h2f>
	</div>
	<div id="main">
		
		<div id="process_table_container" align="center">
			<!--  Create a "Next" button that steps through the lines of the simulation! -->
		</div>
		<p>
			#{form @Application.uploadFile(), id:'submit_file', enctype:'multipart/form-data'}
			    <input type="text" name="title" />
			    <input type="file" id="file" name="file" />
			    <input type="submit" value="Go" />
			#{/}
		</p>
	</div>
</div>