#{extends 'main.html' /}
#{set title:'Wolf Memory Management Simulation' /}

<script type="text/javascript"> 
	// Wait for the DOM to be loaded 
	$(document).ready(function() {
		$('#submit_file').ajaxForm({
			target: '#process_table_container',
			/*success: function() { 
				//alert("File uploaded!"); 
				$('#process_table_container').html("Processed file ...");
			}*/
			resetForm: true,
			success: showResponse
		}); 
	}); 
	
	function showResponse(responseText, statusText, xhr, $form)  { 	 
	    // statusText
	    // responseText
	    // fade in the div with fancy jquery
	} 
</script> 

<div id="container">
	<div id="header">
		<h2>Linux Memory Management Simulation</h2f>
	</div>
	<div id="main">
		<span id="table_label">Physical Memory</span>
		<div id="process_table_container" align="center">
			<!--  Create a "Next" button that steps through the lines of the simulation! -->
		</div>
		<p>
			#{form @Application.uploadFile(), id:'submit_file', enctype:'multipart/form-data'}
			    <input type="text" name="title" />
			    <input type="file" id="file" name="file" />
			    <input type="submit" value="Go" />
			#{/}
		</p>
	</div>
</div>