
<table id="process_table" align="center">
	<tr>
		<td class="pt_frame_label">Frame 1</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 2</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 3</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 4</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 5</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 6</td>
		<td class="pt_frame">Something</td>
	</tr>
	<tr>
		<td class="pt_frame_label">Frame 7</td>
		<td class="pt_frame">Something</td>
	</tr>
</table>

<input type="button" disabled="true" value="<  Previous" /> <input type="button" value="Next  >" />