<span id="table_label">${memory.getFrameTableTitle()}</span>

<table id="process_table" align="center">
	#{list items:memory.getFrameTable(), as:'frameContents'}
	<tr>
		<td class="pt_frame_label">Frame ${frameContents_index}</td>
		<td class="pt_frame">${frameContents}</td>
	</tr>
	#{/list}
</table>

<div id="latest_action">
	<b>State</b>: <i>${memory.getActionDescription()}</i>
</div>

<p>
#{form @Application.nextAction(), id:'next_action'}
	<input type="button" id="next_action_button" onClick="javascript:goNext();" value="Next State >" />
#{/}
</p>